@model DirectoryInfo

@foreach (var d in DriveInfo.GetDrives())
{
    @if (d.IsReady)
    {
        <option value="@d.Name" selected="@(d.Name == Model.Root.Name)">@(d.Name + (!string.IsNullOrEmpty(d.VolumeLabel) ? " - " + d.VolumeLabel : ""))</option>
    }
}
