@model string

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        $('select' + '@Model').select2({
            selectionCssClass: 'form-select',
            minimumResultsForSearch: 20,
            templateResult: function (data) {
                var r = data.text.split('|');
                var result = jQuery(
                    '<div class="row select-result">' +
                    '<div class="col-md-3 select-col1">' + r[0] + '</div>' +
                    (r.length > 1 ? '<div class="col-md-8 select-col2">' + r[1] + '</div>' : '') +
                    '</div>'
                );
                return result;
            },
            templateSelection: function (data) {
                var r = data.text.split('|');
                var result = jQuery(
                    '<div class="row select-selection">' +
                    '<div class="col-md-3 select-col1">' + r[0] + '</div>' +
                    (r.length > 1 ? '<div class="col-md-8 select-col2">' + r[1] + '</div>' : '') +
                    '</div>'
                );
                return result;
            }
        });
    });

    $(function () {
        $('.select2-selection__rendered').on('mouseover', function () {
            $(this).removeAttr('title');
        });
    });
</script>
