@model DirectoryInfo

@if (Model.Parent != null)
{
    <option value="@Model.Parent?.FullName">..</option>
}
@foreach (var dir in Model.GetDirectories())
{
    <option value="@dir.FullName">@dir.Name</option>
}
