<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="test" type="System.Configuration.NameValueSectionHandler" allowLocation="false"/>
		<section name="FDR-PC" type="System.Configuration.NameValueSectionHandler" allowLocation="false"/>
	</configSections>
	<system.diagnostics>
		<sources>
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!--add name="EventLog"/-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!--add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="FDRTools"/-->
		</sharedListeners>
	</system.diagnostics>
	<appSettings>
		<add key="Section" value="auto"/>
		<add key="DBConn" value="Persist Security Info=False;database=fdr;server=localhost;user id=fdr;Password=eos10d"/>
		<add key="SourceRoot" value="F:\FDR\"/>
		<add key="DestRoot" value="H:\WEB\fdr_hu\www\"/>
		<add key="RemoteRoot" value="/fdr_hu/www/"/>
		<add key="PictDirName" value="pictures"/>
		<add key="ThumbDirName" value="thumbnails"/>
		<add key="TmpPictDir" value="D:\Temp\pictures\"/>
		<add key="TmpThumbDir" value="D:\Temp\thumbnails\"/>
		<add key="LogDir" value="D:\Temp\"/>
		<add key="DirExcludes" value="RAW|Válogatások|diat*|SD0002|phpajax|fdr*"/>
		<add key="FileExcludes" value="*_p*-*.*"/>
		<add key="Resize" value="False"/>
		<add key="ResizeMinSize" value="60"/>
		<add key="ResizeOverwrite" value="True"/>
		<add key="ResizeActionSet" value="FDR"/>
		<add key="ResizeActionName" value="web resize"/>
		<add key="Update" value="False"/>
		<add key="UpdateFields" value=""/>
		<add key="Insert" value="False"/>
		<add key="Export" value="True"/>
		<add key="ExportBatch" value="H:\WEB\export_fdr.bat"/>
		<add key="ExportDir" value="H:\WEB\"/>
		<add key="ExportRowLimit" value="500"/>
		<add key="RemoteUpload" value="False"/>
		<add key="RemoteHost" value="vs4.abplusz.hu"/>
		<add key="RemoteLogin" value="fdrhu"/>
		<!--add key="RemotePwd" value="" /-->
		<add key="RemotePassive" value="True"/>
		<add key="PublishSourceChecked" value="True"/>
		<add key="PublishDestChecked" value="False"/>
		<add key="PublishFilterItems" value="*.*|*.jpg|*.gif|*.png"/>
		<add key="PublishFilterIndex" value="1"/>
		<add key="PublishOwnerItems" value="fdr|mse"/>
		<add key="PublishOwnerIndex" value="0"/>
		<add key="RenamePath" value="D:\FDR\2017\"/>
		<add key="RenameFilterItems" value="*.*|*.CRW|CRW*.CRW|CRW*.THM|*.CR2|IMG*.CR2|_MG*.CR2|?MG*.CR2|*.JPG|IMG*.JPG|_MG*.JPG|?MG*.JPG|*.MD5"/>
		<add key="RenameFilterIndex" value="7"/>
		<add key="RenameSecond" value="False"/>
		<add key="RenameSecondItems" value=".JPG|.THM|*.MD5"/>
		<add key="RenameSecondIndex" value="0"/>
		<add key="RenameThird" value="False"/>
		<add key="RenameThirdItems" value=".JPG|.THM|*.MD5"/>
		<add key="RenameThirdIndex" value="1"/>
		<!--add key="RenamePrefix" value="" /-->
		<add key="RenameAutoPrefix" value="True"/>
		<add key="RenamePostfix" value=""/>
		<add key="RenameFileCaseIndex" value="0"/>
		<add key="RenameExtCaseIndex" value="0"/>
		<add key="ComparePath1" value="F:\FDR\2021\"/>
		<add key="CompareFilter1Items" value="*.*|*.CRW|*.CR2|*.THM|*.JPG|*.MD5"/>
		<add key="CompareFilter1Index" value="4"/>
		<add key="ComparePath2" value=""/>
		<add key="CompareFilter2Items" value="*.*|*.CRW|*.CR2|*.THM|*.JPG|*.MD5"/>
		<add key="CompareFilter2Index" value="0"/>
		<add key="CompareSubfolderOfFirst" value="True"/>
		<add key="CompareSubfolder" value="RAW"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
	</appSettings>
	<test>
		<add key="DBConn" value="server=localhost;database=test"/>
		<add key="DestRoot" value="D:\Temp\www\"/>
		<add key="RemoteRoot" value="/test/"/>
		<add key="Export" value="False"/>
	</test>
	<FDR-PC>
	</FDR-PC>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
			</providers>
		</roleManager>
	</system.web>
	<startup>
		
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
