@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*
<div>
    <p>Param: @Model.Configuration["param"]</p>
    <br>
    @if (false)
    {
        <p>
            @foreach (var item in Model.Configuration.AsEnumerable())
            {
                @item.Key @: @item.Value<br>
            }
        </p>
    }
</div>
*@