@using System.ComponentModel.DataAnnotations;

<div class="row mb-3">
    <label class="col-sm-3 col-form-label" for="Folder"><strong>Folder:</strong></label>
    <div class="col-sm-8">
        <div class="input-group mb-3">
            <InputText class="form-control" id="Folder" @bind-Value="@Folder" /> <button class="btn btn-outline-secondary" type="button" @onclick="@SelectFolder">...</button>
        </div>
    </div>
</div>


@code {

    [Required]
    public string? Folder { get; set; }

    // private class ModelClass
    // {
    //     public bool Verbose { get; set; } = false;

    //     [Required]
    //     public string? Folder { get; set; }
    // }

    // private ModelClass Model { get; set; } = new ModelClass();

    protected override void OnInitialized()
    {

    }

    private void SelectFolder()
    {

    }
}
